
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.pub {
    list-style: none;
    padding-left: 0;
}​